
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli';
}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.head {
    transition: 100ms;
}
.main {
    transition: 100ms;
}
.footer {
    transition: 100ms; 
}
.opis-agencije-main {
    transition: 100ms;  
}
.opis2-agencije-main {
    transition: 100ms;  
}


.go-up {
    visibility: hidden;
    position: fixed;
	z-index: 2;
    margin-left: 20px;
	bottom: 0;
	margin-bottom: 20px;
	font-size: 43px;
	color: rgba(0, 0, 0, 0.767);
    opacity: 0;
    transition: visibility 1s, opacity 0.5s ease-in-out;
    cursor: pointer;
    /*text-shadow: 0px 1px 2px rgb(0, 0, 0);*/
}
.go-up:hover {
    color: rgb(0, 0, 0);
}
.go-up.scrolled {
    visibility: visible;
    opacity: 1;
    position: fixed;
}


.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    height: 53px;
    font-size: 20px;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #0000004a;
    transition: background-color 0.4s ease-in-out;
    transition-delay: 0.02s;
    /*animation: 1s slideInFromAbove;*/
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.345);*/
    z-index: 2;
}
.navbarButtonClicked {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    height: 53px;
    font-size: 20px;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    transition: background-color 0.4s ease-in-out;
    transition-delay: 0.02s;
    /*animation: 1s slideInFromAbove;*/
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.345);*/
    z-index: 2;
    background-color: white;
}
@keyframes slideInFromAbove {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
}
.logo img{
    width: 130px;
}
    #logo1 {
        cursor: pointer;
    }
.navbar.scrolled {
    margin-top: 0px;
    color: rgb(0, 0, 0);
    background-color: white;
    transition-delay: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.598);
}
.navbar.scrolledmobile {
    margin-top: 0px;
    color: rgb(255, 255, 255);
    background-color: white;
    transition-delay: 0;
}
.navbar a {
    text-decoration: none;
}
.nava {
    color: white;
}
.nava.scrolled {
    color: black;
}
    .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        margin-right: -10px;
        align-items: center;
    }  
        .menu li {
            margin: 0 1rem;
            overflow: hidden;
            z-index: 2;
        } 
        #login-button {
            margin-left: 2.5vw;
            cursor: pointer;
        }
        #register-button {
            cursor: pointer;
        }
    #menu-toggle {
        display: none;   
    }

    @media (max-width: 850px) {
        #login-button {
            margin-left: 0;
        }
        .navbar {
            /*background-color: rgb(59, 92, 84);*/
            z-index: 2;
        }
        .nava {
            padding-bottom: 2px;
            color: rgb(0, 0, 0);
        }
        .logo {
            margin-left: -10px;
        }
        .menu-button-container {
            display: flex;
            height: 100%;
            width: 25px;
            margin-right: -10px;
            cursor: pointer;
            align-items: center;
        }
        .menu-button,
        .menu-button::before,
        .menu-button::after {
            display: block;
            background-color: var(--button1Color,rgb(255, 255, 255));
            position: absolute;
            height: 4px;
            width: 25px;
            transition: transform 500ms cubic-bezier(0.25, 0.95, 0.99, 1);
            border-radius: 5px;
        }
        .menu-button::before {
            content: '';
            margin-top: -8px;
        }
        .menu-button::after {
            content: '';
            margin-top: 8px;
        }
        #menu-toggle:checked + .menu-button-container .menu-button::before {
            margin-top: 0;
            transform: rotate(225deg);
        }
        #menu-toggle:checked + .menu-button-container .menu-button {
            background: rgba(255, 255, 255, 0);
        }    
        #menu-toggle:checked + .menu-button-container .menu-button::after {
            margin-top: 0;
            transform: rotate(-225deg);
        }    
        #menu-toggle ~ .menu li {
            height: 0;
            margin: 0;
            padding: 0;
            border: 0;
            transition: height 600ms cubic-bezier(0, 1, 0, 1);
        }
        #menu-toggle:checked ~ .menu li {
            box-shadow: 0px 0px 1px rgb(0, 0, 0);
            height: 2.5em;
            padding: 0.4em;
            transition: height 600ms cubic-bezier(0, 1, 0, 1);
        }
        #menu-toggle:checked ~ .menu li:last-child {
           border-bottom: 1px solid rgba(0, 0, 0, 0.137);
        }    
        .menu {
            position: absolute;
            top: 0;
            margin-top: 49px;
            left: 0;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0);    
        }
            .menu > li {
                display: flex;
                justify-content: center;
                margin: 0;
                padding: 0.5em 0;
                width: 100%;
                color: rgb(0, 0, 0);
                background-color: #dadada;
                align-items: center;
            }
        
    }



.login-div {
    display: flex;
    justify-content: center;
    display: none;
    z-index: 1010;
    color: black;
}
    #login-popup {
        position: fixed; 
        top: 7vh;
        bottom: 7vh;
        z-index: 1010;
    }
        #login-form {
            max-width: 280px;
            padding: 20px;
            z-index: 1010;
            background-color: white;
            border-radius: 20px;
            border: 1.5px solid rgb(145, 145, 145);
        }
            #login-form h1 {
                text-align: center;
                font-size: 25px;
                margin-bottom: 20px;
            }
            #login-form input {
                width: 100%;
                padding: 13px;
                margin-top: 8px;
                margin-bottom: 20px;
                border: none;
                background: #e8e8e8;
            }

            #login-form input:focus {
                background-color: #ddd;
                outline: none;
            }
            .login-submit-cancel {
                margin-top: 15px;
                display: flex;
                flex-direction: row;
            }
                .btn-submit-login {
                    background-color: #0b890b;
                    color: white;
                    padding: 16px 20px;
                    border: none;
                    cursor: pointer;
                    width: 50%;
                    margin-bottom:10px;
                    opacity: 0.8;
                    margin-right: 5px;
                }
                .btn-login-cancel {
                    background-color: rgb(238, 31, 86);
                    color: white;
                    padding: 16px 20px;
                    border: none;
                    cursor: pointer;
                    width: 50%;
                    margin-bottom: 10px;
                    margin-left: 5px;
                    opacity: 0.8;
                }
            #login-form button:hover, .open-button:hover {
                opacity: 1;
            }

      
@media (min-width: 769px) {
    .register-div {
        display: flex;
        justify-content: center;
        display: none;
        z-index: 1010;
        color: black;
    }
        #register-popup {
            position: fixed; 
            top: 5vh;
            bottom: 5vh;
            max-height: 100%;
            z-index: 1010;
            overflow: auto;
        }
            #register-form {
                border-radius: 20px;
                border: 1.5px solid rgb(145, 145, 145);
                max-height: 100%;
                overflow: auto;
                width: 550px;
                max-width: 700px;
                padding: 15px;
                padding-right: 25px;
                padding-left: 25px;
                z-index: 1010;
                background-color: white;
            }
                #register-form h1 {
                    text-align: center;
                    margin-bottom: 22px;
                    font-size: 26px;
                }
                #register-form label {
                    font-size: 15px;
                }
                #register-form input {
                    width: 100%;
                    padding: 5px;
                    margin-top: 6px;
                    height: 38px;
                    margin-bottom: 15px;
                    border: none;
                    background: #e8e8e8;
                }
                #register-form input:focus {
                    background-color: #ddd;
                    outline: none;
                }

                .register-ime-i-prezime {
                    display: flex;
                    flex-direction: row; 
                    justify-content: center;                    
                }
                    .register-ime-input {
                        margin-right: 7px;
                        display: flex;
                        width: 50%;
                        flex-direction: column;
                    }
                    .register-prezime-input {
                        margin-left: 7px;
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                    }
                .register-datum-i-email {
                    display: flex;
                    flex-direction: row; 
                    justify-content: center;                         
                }
                    .register-datum-input {
                        margin-right: 7px;
                        display: flex;
                        width: 50%;
                        flex-direction: column;
                    }
                    .register-email-input {
                        margin-left: 7px;
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                    }    
                .register-korisnicko-i-psw {
                    display: flex;
                    flex-direction: row; 
                    justify-content: center;                          
                }
                    .register-korisnicko-input {
                        display: flex;
                        width: 50%;
                        margin-right: 7px;
                        flex-direction: column;
                    }
                    .register-psw-input {
                        margin-left: 7px;
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                    }
                .register-adresa-i-telefon {
                    display: flex;
                    flex-direction: row; 
                    justify-content: center;                  
                }
                    .register-adresa-input {
                        margin-right: 7px;
                        display: flex;
                        width: 50%;
                        flex-direction: column;
                    }
                    .register-telefon-input {
                        width: 50%;
                        margin-left: 7px;
                        display: flex;
                        flex-direction: column;
                    }    
                .register-submit-cancel {
                    display: flex;
                    flex-direction: row;
                    margin-top: 20px;
                }
                    .btn-submit-register {
                        background-color: #0b890b;
                        color: white;
                        padding: 16px 20px;
                        border: none;
                        cursor: pointer;
                        width: 50%;
                        margin-bottom:10px;
                        opacity: 0.8;
                        margin-right: 5px;
                    }
                    .btn-register-cancel {
                        background-color: rgb(238, 31, 86);
                        color: white;
                        padding: 16px 20px;
                        border: none;
                        cursor: pointer;
                        width: 50%;
                        margin-bottom:10px;
                        margin-left: 5px;
                        opacity: 0.8;
                    }
                    #register-form button:hover, .open-button:hover {
                        opacity: 1;
                    }
}

@media (max-width: 768px) {
    .register-div {
        display: flex;
        justify-content: center;
        display: none;
        z-index: 1010;
        overflow: auto;
        color: black;
    }
        #register-popup {
            position: fixed; 
            top: 5vh;
            bottom: 5vh;
            max-height: 100%;
            z-index: 1010;
            overflow: auto;
        }
            #register-form {
                border-radius: 20px;
                border: 1.5px solid rgb(145, 145, 145);
                overflow: auto;
                max-height: 100%;
                max-width: 340px;
                padding: 15px;
                padding-right: 25px;
                padding-left: 25px;
                z-index: 1010;
                background-color: white;
            }
                #register-form h1 {
                    text-align: center;
                    margin-bottom: 20px;
                    font-size: 24px;
                }
                #register-form label {
                    font-size: 14px;
                }
                #register-form input {
                    overflow: auto;
                    width: 100%;
                    padding: 7px;
                    margin-top: 6px;
                    height: 33px;
                    margin-bottom: 14px;
                    border: none;
                    background: #e8e8e8;
                }
                #register-form input:focus {
                    background-color: #ddd;
                    outline: none;
                }

                .register-ime-i-prezime {
                    display: flex;
                    flex-direction: row; 
                    justify-content: center;                    
                }
                    .register-ime-input {
                        margin-right: 7px;
                        display: flex;
                        width: 50%;
                        flex-direction: column;
                    }
                    .register-prezime-input {
                        margin-left: 7px;
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                    }
                .register-datum-i-email {
                    display: flex;
                    flex-direction: row; 
                    justify-content: center;                         
                }
                    .register-datum-input {
                        margin-right: 7px;
                        display: flex;
                        width: 50%;
                        flex-direction: column;
                    }
                    .register-email-input {
                        margin-left: 7px;
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                    }    
                .register-korisnicko-i-psw {
                    display: flex;
                    flex-direction: row; 
                    justify-content: center;                          
                }
                    .register-korisnicko-input {
                        display: flex;
                        width: 50%;
                        margin-right: 7px;
                        flex-direction: column;
                    }
                    .register-psw-input {
                        margin-left: 7px;
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                    }
                .register-adresa-i-telefon {
                    display: flex;
                    flex-direction: row; 
                    justify-content: center;                  
                }
                    .register-adresa-input {
                        margin-right: 7px;
                        display: flex;
                        width: 50%;
                        flex-direction: column;
                    }
                    .register-telefon-input {
                        width: 50%;
                        margin-left: 7px;
                        display: flex;
                        flex-direction: column;
                    }    
                .register-submit-cancel {
                    margin-top: 20px;
                    display: flex;
                    flex-direction: row;
                }
                    .btn-submit-register {
                        background-color: #0b890b;
                        color: white;
                        padding: 16px 20px;
                        border: none;
                        cursor: pointer;
                        width: 50%;
                        margin-bottom:10px;
                        opacity: 0.8;
                        margin-right: 5px;
                    }
                    .btn-register-cancel {
                        background-color: rgb(238, 31, 86);
                        color: white;
                        padding: 16px 20px;
                        border: none;
                        cursor: pointer;
                        width: 50%;
                        margin-bottom:10px;
                        margin-left: 5px;
                        opacity: 0.8;
                    }
                    #register-form button:hover, .open-button:hover {
                        opacity: 1;
                    }
}


.pass-input-view {
    position: relative;
}
    .psw-register-toggle {
        position: absolute;
        top: 29%;
        right: 14px;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .psw-login-toggle {
        position: absolute;
        top: 29%;
        right: 14px;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .psw-edit-user-toggle {
        position: absolute;
        top: 29%;
        right: 14px;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .psw-register-toggle i {
        font-size: 16px;
    }
    .psw-login-toggle i {
        font-size: 16px;
    }
    .psw-edit-user-toggle i {
        font-size: 16px;
    }
    .psw-register-toggle:focus i {
        color: #007bff;
    }
    .psw-login-toggle:focus i {
        color: #007bff;
    }
    .psw-edit-user-toggle:focus i {
        color: #007bff;
    }

.error-message {
    color: red;
    font-size: 11px;
}


.head {
    background: linear-gradient(rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0)),
    url('../slike/nove\ slike\ \ \(27\).jpg');
    /*background-image: url('../slike/nove\ slike\ \ \(28\).jpg');*/
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    height: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: filter 100ms;
    box-shadow: 0 0 10px rgba(47, 47, 47, 0.258)
}

    .header {
        padding-top: 70px;
        padding-bottom: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-shadow: 3px 2px 3px rgba(8, 11, 28, 0.9),
        2px 1px 3px rgb(47, 57, 96);
        
    }
        #header1 {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 9vw;
            transition: 450ms;
            color: white;
        }
        /*
        #header1:hover {
            font-size: 9.5vw;
        }*/
        @media (min-width: 1025px) {
            #header1 {
                margin-bottom: 5px;
                transition: 450ms;    
            }
        }
        @media (max-width: 950px) {
            #header1 {
                font-size: 9vw;
            }
        }
        @media (max-width: 650px) {
            #header1 {
                font-size: 11vw;
            }
        }
        @media (max-width: 450px) {
            #header1 {
                font-size: 12vw;
            }
        }
    .tekst1,
    .tekst2 {
        display: flex;
        flex-wrap: wrap;  
        flex-direction: column;
        align-items: center;
        padding: 15px;
        padding-left: 4vw;
        padding-right: 4vw;
        justify-content: center;     
        background-color: rgba(163, 164, 165, 0.116);
        box-sizing: border-box;
        width: 100%;
        color: black;
        
    }
    .tekst1 p,
    .tekst2 p {
        margin-bottom: 25px;
        font-size: 19px;
    }
    .tekst1 p:first-child,
    .tekst2 p:first-child{
        margin-top: 25px;
        margin-bottom: 40px
    }
    .tekst2 {
        box-shadow: none;
    }

        .slike {
            display: flex;
            flex-wrap: wrap;     
            padding: 0px; 
            justify-content: space-between;
            box-sizing: border-box;
        }
        @media only screen and (max-width: 768px) and (min-width: 1px){
            .slike  {
                flex-direction: column;
            }
        }  
        .slike div {
            display: flex;
            flex-direction: column;
            flex: 0 0 48%;
            align-items: center;
            transition: 50ms;
            box-sizing: border-box;
        }   
        .slike img {
            width: 100%;
            height: 100%;
            transition: 0.3s;
            margin-bottom: 5px;
            border-radius: 15px;
        }
        .slike p,
        .slike a {
            color: black;
            font-size: 14px;
            margin-bottom: 35px;
        }

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 50%;
    font-size: 150%;
    padding-bottom: 50px;
    color: rgba(46, 46, 46, 0.797);
    text-shadow: 2px 2px 1px rgba(143, 143, 143, 0.632);
    box-shadow: 0 0 10px rgba(47, 47, 47, 0.158);
}
    @media only screen and (max-width: 768px) and (min-width: 1px){
        .gallery {
            font-size: 130%;
        }
    }       
    .gallery h1 {
        margin-bottom: 30px;
        text-align: center;
    }


.boxes {
    display: flex;
    flex-wrap: wrap;   
    background-color: rgb(255, 255, 255);   
    padding: 15px; 
    box-sizing: border-box;
    box-shadow: 0 0 4px rgba(47, 47, 47, 0.258);
}
    .box {
        display: flex;
        flex-direction: column;
        flex: 0 0 25%;
        justify-content: center;
        padding: 8px;
        /*border: 1px solid black;*/
        transition: 50ms;
        box-sizing: border-box;
    }
    /* TABLET */
    @media only screen and (max-width: 1024px) and (min-width: 768px){
        .box {
            flex: 0 0 33.33333333%;
        }
    }
    /* TELEFONI */
    @media only screen and (max-width: 768px) and (min-width: 1px){
        .box {
            flex: 0 0 50%;
            /*padding: 5%;*/
        }
    }        
    .box img {
        width: 100%;
        height: 100%;
        transition: 0.3s;
    }
    .box:hover {
        /*box-shadow: 0 1px 5px rgba(24, 24, 24, 0.61);*/
        padding: 5px;
    }
    .box a {
        height: 100%;
    }
        


.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow:0px 0px 5px rgba(0, 0, 0, 0.258);
    width: 100%;
}
    .footer-content {
        display: flex;  
        flex: 0 0 100%;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin-top: 8px;
        margin-bottom: 15px;
        padding-bottom: 30px;
        font-size: 1.2em;
    }
    .footer a {
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
        color: black;
    }
    .footer a:hover {
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: underline 1px solid black;
        text-underline-offset: 2.5px;
    }
    @media only screen and (max-width: 1024px) and (min-width: 768px){
        .footer-content {
            flex: 0 0 50%;
            font-size: 1.3em;
        }
    }
    @media only screen and (max-width: 767px) and (min-width: 1px){
        .footer-content {
            flex: 0 0 25%;
            font-size: 1.1em;
            padding-bottom: 0;  
            margin-bottom: 15px;
        }
    }
