
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli';
}

body {
    margin: 0;
    background-color: rgba(163, 164, 165, 0.116);
    color: rgb(0, 0, 0);
}

.go-up {
    visibility: hidden;
    position: fixed;
	z-index: 2;
    margin-left: 20px;
	bottom: 0;
	margin-bottom: 20px;
	font-size: 43px;
	color: rgba(0, 0, 0, 0.767);
    opacity: 0;
    transition: visibility 1s, opacity 0.5s ease-in-out;
    cursor: pointer;
    /*text-shadow: 0px 1px 2px rgb(0, 0, 0);*/
}
.go-up:hover {
    color: rgb(0, 0, 0);
}
.go-up.scrolled {
    visibility: visible;
    opacity: 1;
    position: fixed;
}

.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    height: 53px;
    font-size: 20px;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #0000004a;
    transition: background-color 0.4s ease-in-out;
    transition-delay: 0.02s;
    animation: 1s slideInFromAbove;
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.345);*/
    z-index: 2;
}
.navbarButtonClicked {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    height: 53px;
    font-size: 20px;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    transition: background-color 0.4s ease-in-out;
    transition-delay: 0.02s;
    animation: 1s slideInFromAbove;
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.345);*/
    z-index: 2;
    background-color: white;
}
@keyframes slideInFromAbove {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
}
.logo img{
    width: 130px;
}
.navbar.scrolled {
    margin-top: 0px;
    color: rgb(0, 0, 0);
    background-color: white;
    transition-delay: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.598);
}
.navbar.scrolledmobile {
    margin-top: 0px;
    color: rgb(255, 255, 255);
    background-color: white;
    transition-delay: 0;
}
.navbar a {
    text-decoration: none;
}
.nava {
    color: white;
}
.nava.scrolled {
    color: black;
}
    .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        margin-right: -10px;
        align-items: center;
    }  
        .menu li {
            margin: 0 1rem;
            overflow: hidden;
            z-index: 2;
        } 
        #login-button {
            margin-left: 2.5vw;
        }
    #menu-toggle {
        display: none;   
    }

    @media (max-width: 850px) {
        #login-button {
            margin-left: 0;
        }
        .navbar {
            /*background-color: rgb(59, 92, 84);*/
            z-index: 2;
        }
        .nava {
            padding-bottom: 2px;
            color: rgb(0, 0, 0);
        }
        .logo {
            margin-left: -10px;
        }
        .menu-button-container {
            display: flex;
            height: 100%;
            width: 25px;
            margin-right: -10px;
            cursor: pointer;
            align-items: center;
        }
        .menu-button,
        .menu-button::before,
        .menu-button::after {
            display: block;
            background-color: var(--button1Color,rgb(255, 255, 255));
            position: absolute;
            height: 4px;
            width: 25px;
            transition: transform 500ms cubic-bezier(0.25, 0.95, 0.99, 1);
            border-radius: 5px;
        }
        .menu-button::before {
            content: '';
            margin-top: -8px;
        }
        .menu-button::after {
            content: '';
            margin-top: 8px;
        }
        #menu-toggle:checked + .menu-button-container .menu-button::before {
            margin-top: 0;
            transform: rotate(225deg);
        }
        #menu-toggle:checked + .menu-button-container .menu-button {
            background: rgba(255, 255, 255, 0);
        }    
        #menu-toggle:checked + .menu-button-container .menu-button::after {
            margin-top: 0;
            transform: rotate(-225deg);
        }    
        #menu-toggle ~ .menu li {
            height: 0;
            margin: 0;
            padding: 0;
            border: 0;
            transition: height 600ms cubic-bezier(0, 1, 0, 1);
        }
        #menu-toggle:checked ~ .menu li {
            box-shadow: 0px 0px 1px rgb(0, 0, 0);
            height: 2.5em;
            padding: 0.4em;
            transition: height 600ms cubic-bezier(0, 1, 0, 1);
        }
        #menu-toggle:checked ~ .menu li:last-child {
           border-bottom: 1px solid rgba(0, 0, 0, 0.137);
        }    
        .menu {
            position: absolute;
            top: 0;
            margin-top: 49px;
            left: 0;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0);    
        }
            .menu > li {
                display: flex;
                justify-content: center;
                margin: 0;
                padding: 0.5em 0;
                width: 100%;
                color: rgb(0, 0, 0);
                background-color: #dadada;
                align-items: center;
            }
    }


.main {
    
    width: 100%;
    display: block
}
    .admin-select { 
        display: flex;
        justify-content: center ;
        align-items: center;
        margin-top: 53px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
        #select-dropdown {
            font-family: 'Muli';
            padding: 5px;
            border-radius: 5px;
        }
        .tab-options {
            box-sizing: border-box;
            width: 100%;
            display: flex;
            height: fit-content;
            flex-direction: row;
            justify-content: left;
            font-size: 20px;
            flex-wrap: wrap;
            background-color: #b7b7b7;
        }
            .tab-option {
                box-sizing: border-box;
                justify-content: center;
                padding: 19px;
                display: flex;
                flex: 0 0 25%;
                
                background-color: #a7d6fa;
            }
            .tab-option:first-child {
                border-left: none;
            }
            .tab-option:hover {
                background-color: #4e4e4ec4;
                color: white;
            }
            .tab-options input {
                display: none;
            }
            @media (max-width: 1024px) {
                .tab-options {
                    font-size: 18px;
                }
            }
            @media (max-width: 768px) {
                .tab-option {
                    flex: 0 0 50%;
                }
            }
            @media (max-width: 450px) {
                .tab-options {
                    font-size: 14px;
                }
            }
            @media (max-width: 250px) {
                .tab-options {
                    font-size: 10px;
                }
            }
            
    .admin-body {
        overflow-x: auto;
        width: 100%;
        margin-bottom: 50px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.635);
    }


    
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
        background-color: #ffffff;
      }
      
      th, td {
        text-align: left;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid grey;
        font-size: 14px;
        
      }
      th {
        border-top: none;
      }
      tr:last-child {
        border-bottom: none;
      }
      th:first-child {
         text-align: center;
      }
      td:first-child {
        white-space: normal;
        text-align: center;
        padding: 3px;
      }
      td button {
        background-color: white;
        border: 1px solid rgb(130, 130, 130);
        border-radius: 5px;
        padding: 5px;
        width: 30px;
        margin: 3px;
      }
      td button:hover {
        background-color: rgb(220, 220, 220);
      }
      
      
      tr:nth-child(even){background-color: #f2f2f2}



.tabela-agencije {
    display: table;
}  
.tabela-destinacije {
    display: none;
}
.tabela-korisnici {
    display: none;
}


.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow:0px 0px 5px rgba(0, 0, 0, 0.258);
    width: 100%;
}
    .footer-content {
        display: flex;  
        flex: 0 0 100%;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin-top: 8px;
        margin-bottom: 15px;
        padding-bottom: 30px;
        font-size: 1.2em;
    }
    .footer a {
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
        color: black;
    }
    .footer a:hover {
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: underline 1px solid black;
        text-underline-offset: 2.5px;
    }
    @media only screen and (max-width: 1024px) and (min-width: 768px){
        .footer-content {
            flex: 0 0 50%;
            font-size: 1.3em;
        }
    }
    @media only screen and (max-width: 767px) and (min-width: 1px){
        .footer-content {
            flex: 0 0 25%;
            font-size: 1.1em;
            padding-bottom: 0;  
            margin-bottom: 15px;
        }
    }



  