* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli';
}

body {
    margin: 0;
    background-color: rgba(163, 164, 165, 0.116);
    color: rgb(0, 0, 0);
}

.main {
    transition: filter 600ms;
}

.go-up {
    visibility: hidden;
    position: fixed;
	z-index: 2;
    margin-left: 20px;
	bottom: 0;
	margin-bottom: 20px;
	font-size: 43px;
	color: rgba(0, 0, 0, 0.767);
    opacity: 0;
    transition: visibility 1s, opacity 0.5s ease-in-out;
    cursor: pointer;
    /*text-shadow: 0px 1px 2px rgb(0, 0, 0);*/
}
.go-up:hover {
    color: rgb(0, 0, 0);
}
.go-up.scrolled {
    visibility: visible;
    opacity: 1;
    position: fixed;
}


.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    height: 53px;
    font-size: 20px;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #0000004a;
    transition: background-color 0.4s ease-in-out;
    transition-delay: 0.02s;
    animation: 1s slideInFromAbove;
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.345);*/
    z-index: 2;
}
.navbarButtonClicked {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    height: 53px;
    font-size: 20px;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    transition: background-color 0.4s ease-in-out;
    transition-delay: 0.02s;
    animation: 1s slideInFromAbove;
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.345);*/
    z-index: 2;
    background-color: white;
}
@keyframes slideInFromAbove {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
}
.logo img{
    width: 130px;
}
.navbar.scrolled {
    margin-top: 0px;
    color: rgb(0, 0, 0);
    background-color: white;
    transition-delay: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.598);
}
.navbar.scrolledmobile {
    margin-top: 0px;
    color: rgb(255, 255, 255);
    background-color: white;
    transition-delay: 0;
}
.navbar a {
    text-decoration: none;
}
.nava {
    color: white;
}
.nava.scrolled {
    color: black;
}
    .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        margin-right: -10px;
        align-items: center;
    }  
        .menu li {
            margin: 0 1rem;
            overflow: hidden;
            z-index: 2;
        } 
        #login-button {
            margin-left: 2.5vw;
        }
    #menu-toggle {
        display: none;   
    }

    @media (max-width: 850px) {
        #login-button {
            margin-left: 0;
        }
        .navbar {
            /*background-color: rgb(59, 92, 84);*/
            z-index: 2;
        }
        .nava {
            padding-bottom: 2px;
            color: rgb(0, 0, 0);
        }
        .logo {
            margin-left: -10px;
        }
        .menu-button-container {
            display: flex;
            height: 100%;
            width: 25px;
            margin-right: -10px;
            cursor: pointer;
            align-items: center;
        }
        .menu-button,
        .menu-button::before,
        .menu-button::after {
            display: block;
            background-color: var(--button1Color,rgb(255, 255, 255));
            position: absolute;
            height: 4px;
            width: 25px;
            transition: transform 500ms cubic-bezier(0.25, 0.95, 0.99, 1);
            border-radius: 5px;
        }
        .menu-button::before {
            content: '';
            margin-top: -8px;
        }
        .menu-button::after {
            content: '';
            margin-top: 8px;
        }
        #menu-toggle:checked + .menu-button-container .menu-button::before {
            margin-top: 0;
            transform: rotate(225deg);
        }
        #menu-toggle:checked + .menu-button-container .menu-button {
            background: rgba(255, 255, 255, 0);
        }    
        #menu-toggle:checked + .menu-button-container .menu-button::after {
            margin-top: 0;
            transform: rotate(-225deg);
        }    
        #menu-toggle ~ .menu li {
            height: 0;
            margin: 0;
            padding: 0;
            border: 0;
            transition: height 600ms cubic-bezier(0, 1, 0, 1);
        }
        #menu-toggle:checked ~ .menu li {
            box-shadow: 0px 0px 1px rgb(0, 0, 0);
            height: 2.5em;
            padding: 0.4em;
            transition: height 600ms cubic-bezier(0, 1, 0, 1);
        }
        #menu-toggle:checked ~ .menu li:last-child {
           border-bottom: 1px solid rgba(0, 0, 0, 0.137);
        }    
        .menu {
            position: absolute;
            top: 0;
            margin-top: 49px;
            left: 0;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0);    
        }
            .menu > li {
                display: flex;
                justify-content: center;
                margin: 0;
                padding: 0.5em 0;
                width: 100%;
                color: rgb(0, 0, 0);
                background-color: #dadada;
                align-items: center;
            }
    }



.head {
    /* DOBRE SLIKE
    background-image: url('../slike/nove\ slike\ \ \(23\).jpg'); - SIVO PLAVA OBICNA (bazen)
    background-image: url('../slike/nove\ slike\ \ \(28\).jpg'); - BALONI
    background-image: url('../slike/nove\ slike\ \ \(36\).jpg'); - *** obala fino gore je plavo - SVIDJA MI SE 10/10
    */
   /* background-image: url('../slike/agencija/prva\ agencija.jpeg');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    padding-top: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
    .header {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 70px;
        padding-bottom: 70px;     
        text-shadow: 3px 2px 3px rgba(8, 11, 28, 0.9),
                     2px 1px 3px rgb(47, 57, 96);
    }
        #header1 {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 9vw;
            transition: 450ms;
            text-align: center;
        }
        #header1:hover {
            font-size: 9.5vw;
        }
        @media (min-width: 1025px) {
            #header1 {
                margin-bottom: 5px;  
            }
        }
            @media (max-width: 950px) {
                #header1 {
                    font-size: 9vw;
                }
            }
            @media (max-width: 650px) {
                #header1 {
                    font-size: 11vw;
                }
            }
            @media (max-width: 450px) {
                #header1 {
                    font-size: 12vw;
                }
            }
        .pretraga-main {
            width: 90vw;
        }
        .searchbar {
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 15px;
            display: flex;
            margin-top: 25px;
            align-items: center;
        }
        .search2 {
            display: flex;
        }
        .searchbar p {
            /*padding: 8px;
            padding-left: 10px;
            padding-right: 10px;
            width: 50vw;
            border: solid black 1px;*/
            color: black;
            margin-right: 17px;
        }
        .searchbar input {
            padding: 8px;
            padding-left: 10px;
            padding-right: 10px;
            width: 35vw;
            border: solid rgba(0, 0, 0, 0.514) 1px;
        }
        .searchbar button {
            padding: 8px;   
            padding-left: 13px;
            padding-right: 13px; 
            margin-left: 0; 
            margin-right: 15px; 
            border: none;
            background:rgba(142, 142, 142, 0.473);
        }
        .searchbar button:hover {
            background:rgba(146, 146, 146, 0.806);
        }
        @media (max-width: 768px) {
            .searchbar {
                margin-top: 35px;  
                flex-direction: column;   
                align-items: flex-start;
                margin: 20px;
            }
            .searchbar p {
                margin-bottom: 10px;
            }
            .searchbar input {
                width: 50vw;
            }
        }
        @media (max-width: 570px) {
            .searchbar {
                margin-top: 35px;  
                flex-direction: column;   
                align-items: flex-start;
                margin: 20px;
            }
            .searchbar p {
                margin-bottom: 10px;
            }
            .searchbar input {
                width: 60vw;
            }
        }

        
.opis-agencije-main {
    width: 92vw;
    padding-top: 50px;
    padding-bottom: 50px;    
    margin-left: auto;
    margin-right: auto;
    font-size: 19px;
    color: rgb(0, 0, 0);
}       
@media (max-width: 950px) {
    .opis-agencije-main {
        padding-right: 5px;  
        padding-left: 5px; 
    }     
}
.ponude {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 5vw;
    background-color: rgb(251, 251, 251);
    color: black;
    text-decoration: underline 1px rgb(0, 0, 0);
    text-underline-offset: 6px;
}
@media (max-width: 1024px) {
    .ponude {
        font-size: 13vw;
    }     
}
@media (max-width: 768px) {
    .ponude {
        font-size: 9vw;
    }     
}


    
    
.boxes {
    display: flex;
    flex-wrap: wrap;     
    padding: 10px;  
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.16);
}
.boxes h1 {
    margin: 20px;
    width: 100%;
    color:rgba(26, 26, 26, 0.861);
    font-size: 40px;
    text-align: center;
}
.box { 
    display: flex;
    flex-direction: column;
    color: black;
    flex: 0 0 33.333333%;
    justify-content: center;
    padding: 18px;
    cursor: pointer;
    /*border: 1px solid black;*/
    box-sizing: border-box;
}
.box {
    color: black;
    text-decoration: none;
}
/* TABLET */
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .box {
        flex: 0 0 50%;
    }
}
/* TELEFONI */
@media only screen and (max-width: 767px) and (min-width: 1px) {
    .box {
        flex: 0 0 100%;
        /*padding: 5%;*/
    }
}
    .card {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.272);
        transition: 0.3s;
        background-color: white;
        border-radius: 20px;
    }
    .card:hover {
        box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.715);
    }
        .destination-image img {
            width: 100%;
            height: 18vw;
            margin-top: -55px;
            border-radius: 20px 20px 0 0;
        }
            @media only screen and (max-width: 1024px) and (min-width: 768px) {
                .destination-image img {
                    min-height: 33vw;
                }
            } 
            @media only screen and (max-width: 767px) and (min-width: 1px) {
                .destination-image img {
                    height: 60vw;
                }
            }
            .opis-destinacije {
                padding: 10px;
                font-size: 16px;
                text-align: center;
                font-family: 'Muli';
                position:relative;
            }
            .ime-destinacije {
                text-align:center;
                margin-bottom: 15px;
                font-size: 21px;
                font-weight: 600;
                color: rgb(37, 37, 37)
                /*text-decoration: underline 0.9px rgb(0, 0, 0);
                text-underline-offset: 3.5px;*/
            }
            .tip-destinacije {
                text-align:center;
                margin-bottom: 10px;
                font-size: 16px;
            }
            .cena-destinacije {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative; 
                top: 30px;
                margin-top: -15px;
                z-index: 1;
                text-align: center;
                font-size: 16px;
                margin-left: 8%;
                border: 2px solid #f4c86e;
                width: 69px;
                height: 69px;
                border-radius: 50px;
                background-color: #f4c86e;
            }
            .maks-osoba-destinacije {
                margin-bottom: 5px;
            }
            .upit-saznaj-vise {
                display: flex;
                justify-content: center;
            }
            .upit-saznaj-vise div{
                width: 100%;
                display: flex;
                justify-content: center;
            }
            .upit-saznaj-vise div form {
                width: 80%;
                /*margin-left: 15px;*/
            }
                .posalji-upit {
                    width: 100%;
                    height: 55px;
                    margin: 5px;
                    border-radius: 10px;
                    border: none;
                    margin-bottom: 13px;
                    font-size: 18px;
                    background-color: rgb(255, 196, 86);
                    transition: 300ms;
                }
                .saznaj-vise {
                    width: 80%;
                    height: 55px;
                    margin: 5px;
                    margin-right: 15px;
                    border-radius: 10px;
                    border: none;
                    margin-bottom: 13px;
                    font-size: 18px;
                    background-color: rgb(255, 255, 255);
                    border: 2px solid rgb(255, 204, 108);
                    transition: 200ms;
                }
                .posalji-upit:hover {
                    background-color: rgb(252, 170, 19);
                }
                .saznaj-vise:hover {
                    border: 2px solid rgb(255, 191, 72);
                    background-color: rgb(255, 206, 116);
                }           
 
.opis2-agencije-main {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;    
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;    
    font-size: 18px;
    color: rgb(0, 0, 0);
}       
    .googleMap {
        float: left;
        width: 45%;
        height: 400px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.237);
    }
    .opis2-agencije-tekstovi {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 45%;
    }

@media only screen and (max-width: 768px) and (min-width: 1px){
    .opis2-agencije-main {
        flex-direction: column;
        /*margin-top: 20px;*/
    }
    .googleMap {
        float: left;
        width: 100%;
        height: 350px;
    }
    .opis2-agencije-tekstovi {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 30px;
        text-align: center;
        width: 100%; 
    }
    
}
    
    
    
.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow:0px 0px 5px rgba(0, 0, 0, 0.258);
    width: 100%;
}
    .footer-content {
        display: flex;  
        flex: 0 0 100%;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin-top: 8px;
        margin-bottom: 15px;
        padding-bottom: 30px;
        font-size: 1.2em;
    }
    .footer a {
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
        color: black;
    }
    .footer a:hover {
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: underline 1px solid black;
        text-underline-offset: 2.5px;
    }
    @media only screen and (max-width: 1024px) and (min-width: 768px){
        .footer-content {
            flex: 0 0 50%;
            font-size: 1.3em;
        }
    }
    @media only screen and (max-width: 767px) and (min-width: 1px){
        .footer-content {
            flex: 0 0 25%;
            font-size: 1.1em;
            padding-bottom: 0;  
            margin-bottom: 15px;
        }
    }



  